{% extends 'base.html' %}
{% block title %}contact{% endblock title %}
{% block content %}

    <h1>Contact Us</h1>
    <form action="/contact" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Your name">
        <input type="email" name="email" placeholder="Your Email ">
        <input type="number" name="phone" placeholder="Your phone number">
        <input type="text" name="desc" placeholder="Message for me">
        <button type="submit">Submit</button>
    </form>

{% endblock content %}